@mixin fontFace($fontFamily, $fontStyle, $fontWeight, $fontFile, $customSrc: null) {
    font-family: $fontFamily, sans-serif;
    font-style: $fontStyle;
    font-weight: $fontWeight;

    @if $customSrc {
        src: #{$customSrc},
        url('../../fonts/VremenaGrotesk/#{$fontFile}.woff') format('woff');
    }

    @else {
        src: url('../../fonts/VremenaGrotesk/#{$fontFile}.woff') format('woff');
    }
}

@mixin flexContainer($justify-content: center, $align-items: center, $gap: null) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;

    @if $gap {
        gap: #{$gap};
    }

    @else {
        gap: $gap;
    }
}