@import "./_mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    @include fontFace('Vremena Grotesk Regular', 400, 'VremenaGrotesk');
    overflow-x: hidden;
}

@import "./_header.scss";
@import "./_navbar.scss";
@import "./_home.scss";
@import "./_footer.scss";
